@charset "UTF-8";

:root {
    color: rgb(244, 244, 9);
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.container {
    width: 100%;
    cursor: default;
    height: 200vh;
    grid-template-areas:
        'header header header header'
        'main main main main'
        '.sec-1 .sec-1 .sec-2 .sec-3'
        '.sec-1 .sec-1 .sec-4 .sec-5'
        '.sec-6 .sec-7. sec-8 .space'
        '.sec-9 .sec-10. sec-11 .space'
        '.sec-12 .sec-13. sec-14 .space'
        'footer footer footer footer'
    ;
}

/*HEADER*/

header {
    width: 100%;
    height: auto;
}

nav .logo {
    font-family: 'Lobster', cursive;
}

h1 {
    color: #000;
    text-align: center;
    margin-top: 4vh;
    font-size: 70px;
    font-family: 'Lobster', cursive;
}

h2 {
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 12vw;
    font-size: 35px;
}

.list {
    text-align: center;
}

.lista {
    text-align: center;
    display: inline-block;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 6px;
}

.lista:hover {
    background-color: rgb(244, 244, 9);
}

.links-3 {
    width: 74%;
    align-items: center;
    text-align: center;
    margin-left: 13.5%;
    margin-top: 4vh;
    display: grid;
}

.links-2 {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    text-align: center;
}

/*FIM*/

/*MAIN*/

header {
    background-color: #fff;
}

main {
    width: 73.62%;
    margin-top: 14vh;
    margin-left: 13.15%;
}

@media (max-width: 1000px) {
    h2 {
        font-size: 23px;
        margin-left: 13vh;
    }

    h1 {
        font-size: 40px;
    }
}

.main-org {
    height: auto;
    display: flex;
}

.sec-1 {
    width: 50%;
    height: auto;
    margin-bottom: 30px;
}

.sec-1-2 {
    margin-left: 1%;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.circulo-1 {
    font-size: 13px;
    color: #000;
}

.sec-2 {
    margin-bottom: 30px;
}

.circulo-2 {
    font-size: 13px;
    color: #000;
}

.circle {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    text-align: left;
    margin-bottom: 3vh;
}

#materia-1 {
    text-align: center;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
}

.bio-materia-1 {
    text-align: justify;
    color: #000;
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 15px;
}

.materias-seguintes {
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 21px;
    padding: 5px 10px 0 10px;
}

.bio-mat-seguintes {
    color: #000;
    font-size: 15px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    padding: 12px 7px 0;
}

.main-org-2 {
    width: 100%;
    display: flex;
}

.data {
    color: #000;
    font-size: 13px;
    margin-top: 1vh;
    margin-left: 3%;
    font-family: 'Times New Roman', Times, serif;
}

.data-2 {
    color: #000;
    font-size: 18px;
    margin-top: 3vh;
    margin-left: 3%;
    font-family: 'Times New Roman', Times, serif;
}

.titulo {
    height: 4vh;
    width: 90px;
    background-color: #000;
    align-items: center;
    justify-content: center;
}

.titulo p {
    color: #fff;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    text-align: center;
}


.main-org-3 {
    width: 100%;
    display: flex;
}

.sec-6 {
    width: 24%;
}

.sec-7 {
    width: 24%;
    margin-left: 3%;
}

.sec-8 {
    width: 24%;
    margin-left: 3%;
    margin-top: 4vh;
}

.row-h {
    width: 1px;
    height: auto;
    background-color: rgb(224, 224, 224);
}

@media (max-width: 1521px) {
    .links-2 {
        display: none;
    }

    main {
        margin-top: 3vh;
    }
}

@media (max-width: 1060px) {
    .main-org {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .row-h {
        display: none;
    }

    .sec-1 {
        width: 100%;
        height: auto;
    }

    .sec-1 img {
        height: 20vh;
    }

    .sec-1-2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .text-size {
        display: none;
    }

    .main-org-3 {
        width: 90%;
        height: auto;
        flex-wrap: wrap;
        display: flex;
        margin: 0 auto;
    }

    .sec-6 {
        width: 45%;
        grid-column: 1;
        grid-row: 1;
    }

    .sec-7 {
        width: 45%;
        grid-column: 2;
        grid-row: 1;
    }

    .sec-8 {
        width: 45%;
        margin-top: 4;
        grid-column: 1;
        grid-row: 2;
    }

}

@media (max-width: 600px) {
    .main-org-3 {
        flex-wrap: wrap;
        width: 100%;
    }

    .sec {
        width: 100%;
    }

    h1 {
        font-size: 35px;
    }
}

@media (max-width: 400px) {
    .h1-2 {
        font-size: 35px;
    }
}

.zoom {
    width: 100%;
    height: 24vh;
    overflow: hidden;
}

.zoom-3 {
    margin-top: 4vh;
}

.sec-100 {
    margin-top: -4vh;
}

.zoom2 {
    height: 42vh;
}

.zoom:hover img {
    transform: scale(1.1);
    background: none;
    transition: 0.5s ease-out;
}

.bio-materia-1:hover {
    cursor: pointer;
}

.bio-mat-seguintes:hover {
    cursor: default;
}

.materias-seguintes:hover {
    cursor: pointer;
}

.sec img:hover {
    cursor: pointer;
}

/*FIM*/

/*PÁG 2*/

.news-pag-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 77%;

}

.zoom-2 {
    height: 35vh;
}

.sec-9 {
    margin-top: 4vh;
    margin-right: 3vh;
}

.section {
    width: 30%;
    height: 80vh;
}

.sec-11 {
    margin-left: 3%;
}

.newslatter {
    margin-top: -0.5vh;
    background-color: #FFE531;
    width: 20%;
    color: #000;
    padding-right: 30px;
    padding-left: 30px;
    height: 74vh;
    margin-right: -100%;
    margin-left: 5%;
    border-radius: 10px;
}

.ttl-2 {
    margin-top: -9.7vh;
    margin-left: 1vh;
}

.ass {
    text-align: justify;
}

.p-news {
    font-size: 30px;
    margin-bottom: 3vh;
    text-align: center;
    margin-top: 4vh;
}

.h2-n {
    text-align: center;
    font-size: 20px;
}

.section-2 {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.section-2 {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
}

.sec-13 {
    width: 22.3%;
    margin-left: 3%;
    margin-top: 4vh;
}

.sec-14 {
    width: 22.3%;
}

.sec-15 {
    width: 22.3%;
    margin-right: 3%;
}

.div-color {
    margin: 5vh 0;
    background-color: #FFE531;
    padding: 2vh 0 7vh;
}

.div-main {
    width: 73.62%;
    margin-left: 13.15%;
}

.h2-nac {
    font-size: 18px;
    text-align: center;
    margin-left: -90%;
}

.sec-30 {
    display: none;
}

.sec-31 {
    display: block;
    margin-top: 4;
    grid-column: 2;
    grid-row: 2;
    margin-left: 3%;
    margin-top: 4vh;
}

.row-2 {
    width: 73.7%;
    height: 1vh;
    background-color: #FFE531;
    margin-top: 5vh;
    margin-bottom: 5vh;
}



@media (max-width: 1400px) {
    .news-pag-2 {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        display: flex;
        margin: 0 auto;
    }

    .sec-9 {
        width: 47%;
        grid-column: 1;
        grid-row: 1;
    }

    .sec-10 {
        width: 47%;
        grid-column: 2;
        grid-row: 1;
        margin-bottom: 5vh;
    }

    .sec-11 {
        width: 47%;
        margin-top: 4;
        grid-column: 1;
        grid-row: 2;
        margin-left: 0;
    }

    .sec-30 {
        width: 47%;
        display: block;
        margin-top: 4;
        grid-column: 2;
        grid-row: 2;
        margin-left: 3%;
        margin-top: 4vh;
    }

    .newslatter {
        display: none;
    }

    .row-2 {
        width: 96.5%;
    }

    .section-2 {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        display: flex;
        margin: 0 auto;
    }

    .sec-15 {
        width: 47%;
        grid-column: 1;
        grid-row: 1;
    }

    .sec-14 {
        width: 47%;
        grid-column: 2;
        grid-row: 1;
        margin-bottom: 5vh;
    }

    .sec-13 {
        width: 47%;
        margin-top: 4;
        grid-column: 1;
        grid-row: 2;
        margin-left: 0;
    }

    .sec-13-2 {
        width: 47%;
        display: block;
        margin-top: 4;
        grid-column: 2;
        grid-row: 2;
        margin-left: 3%;
        margin-top: 4vh;
    }

    .sec-13-3 {
        margin-left: 3%;
    }
}

@media (max-width: 630px) {
    .news-pag-2 {
        flex-wrap: wrap;
        width: 100%;
    }

    .sec-9 {
        width: 100%;
    }

    .sec-10 {
        width: 100%;
    }

    .sec-11 {
        width: 100%;
    }

    .sec-30 {
        width: 100%;
    }

    .section-2 {
        flex-wrap: wrap;
        width: 100%;
    }

    .sect {
        width: 100%;
    }
}

.branco {
    width: 100%;
    height: 5vh;
    background-color: #fff;
    margin-top: 3vh;
    text-align: center;
    font-size: 13px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg {
    width: 100%;
    height: 12vh;
    background-color: #000;
    margin-top: 5vh;
    text-align: center;
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
}

/*PÁG 3*/

.row-3 {
    width: 100%;
    height: 1vh;
    background-color: #FFE531;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.row-4 {
    width: 98%;
    height: 1vh;
    background-color: #FFE531;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.section-3 {
    display: flex;
    width: 73%;
}

.section-4 {
    margin-top: 5vh;
    display: flex;
    width: 73%;
    margin-left: 13.5%;
}

.row-5 {
    width: 73%;
    margin-left: 13.5%;
    height: 1vh;
    background-color: #FFE531;
    margin-top: 10vh;
    margin-bottom: 5vh;
}
.titulo-2 {
    height: 3.5vh;
    width: 150px;
    background-color: #000;
    align-items: center;
    justify-content: center;
}

.row-10 {
    width: 75%;
}

@media (max-width: 1000px) {
    .row-10 {
        margin-top: 12vh;
    }
}

@media (max-width: 500px) {
    .main-pag-3 {
        width: 95%;
    }

    .row-10 {
        margin-left: -6vh;
    }

    .titulo-2 {
        margin-left: -4.5vh;
    }
}

.tittle-pag-4 {
    width: 100%;
    margin-top: 2vh;
    height: 65vh;
}

.ttl-h1 {
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

.icon-ttl {
    width: 10px;
    height: 10px;
}

.p-ttl {
    color: #000;
    font-size: 10px;
}

.infos-titulo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3vh;
}

.p-ttl-3 {
    margin-right: 20px;
}

.icon-ttl1 {
    margin-right: 3px;
}

.img-info {
    width: 60%;
    height: 50vh;
    margin-top: 3vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.p-img-info {
    width: 50%;
    margin-left: 7%;
    color: #000;
    text-align: justify;
}

.p-img-info h3 {
    text-align: left;
    margin-bottom: 2vh;
}

.h3-info {
    margin-top: 3vh;
}

.p-news-ru {
    color: #000;
    font-size: 18px;
    margin-bottom: 3vh;
    text-align: justify;
}

.p-news-ru-2 {
    margin-top: 4vh;
}

.h3-ru {
    color: #000;
    margin-bottom: 1vh;
}

.img-ru {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10vh;
}

.p-news-ru-4 {
    width: 50%;
}

/*box-shadow: #535353 40px  40px 100px 10px;*/