@charset "UTF-8";

:root {
    color: rgb(244, 244, 9);
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.container {
    width: 100%;
    cursor: default;
    height: 200vh;
    grid-template-areas: 
    'header header header header'
    'main main main main'
    '.sec-1 .sec-1 .sec-2 .sec-3'
    '.sec-1 .sec-1 .sec-4 .sec-5'
    '.sec-6 .sec-7. sec-8 .space'
    '.sec-9 .sec-10. sec-11 .space'
    '.sec-12 .sec-13. sec-14 .space'
    'footer footer footer footer'
    ;
}

/*HEADER*/

header {
    width: 100%;
    height: 30vh;
}

nav .logo {
    font-family: 'Lobster', cursive;
}

h1 {
    color: #000;
    text-align: center;
    margin-top: 4vh;
    font-size: 70px;
    font-family: 'Lobster', cursive;
}

h2 {
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 12vw;
    font-size: 35px;
}

.list {
    text-align: center;
}

.lista {
    text-align: center;
    display: inline-block;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 6px;
}

.lista:hover {
    background-color: rgb(244, 244, 9);
}

.links-3 {
    width: 73.62%;
    align-items: center;
    text-align: center;
    margin-left: 13.38%;
    margin-top: 4vh;
}

.links-2 {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    text-align: center;
}

@media (max-width: 1300px) {
    .links {
        display: none;
    }
}

/*FIM*/

/*MAIN*/

main {
    width: 73.62%;
    margin-top: 19vh;
    margin-left: 13.15%;
}

@media (max-width: 1200px) {
    main {
        margin-top: 6%;
    }
}

@media (max-width: 1000px) {
    h2 {
        font-size: 23px;
        margin-left: 13vh;
    }

    h1 {
        font-size: 40px;
    }
}

.main-org {
    width: 100%;
    display: flex;
}

.sec-1 {
    width: 50%;
    height: 42vh;
}

.sec-2 {
    margin-left: 1%;
    width: 24%;
}

.sec-3 {
    margin-left: 2%;
    width: 24%;
    margin-top: 2.75%;
}

.circulo {
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
    color: #000;
}

.destaque {
    display: flex;
    margin-left: 3.5%;
    height: 15px;
    width: 14%;
    margin-top: -2.3vh;
    margin-bottom: 2vh;
}

.destaque-2 {
    display: flex;
    margin-left: 7.5%;
    height: 15px;
    width: 20%;
    margin-top: -2.3vh;
    margin-bottom: 2vh;
}

#materia-1 {
    text-align: center;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
}

.bio-materia-1 {
    text-align: justify;
    color: #000;
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 15px;
}

.materias-seguintes {
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 21px;
    padding: 5px 10px 0 10px;
}

.bio-mat-seguintes {
    color: #000;
    font-size: 15px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    padding: 12px 7px 0;
}

.main-org-2 {
    width: 100%;
    display: flex;
}

.sec-4 {
    margin-left: 51%;
    margin-top: -46%;
    width: 24%;
}

.sec-5 {
    margin-top: -15%;
    width: 24%;
    margin-top: -46%;
    margin-left: 3%;
}

.data {
    color: #000;
    font-size: 13px;
    margin-top: 1vh;
    margin-left: 3%;
    font-family: 'Times New Roman', Times, serif;
}

.data-2 {
    color: #000;
    font-size: 18px;
    margin-top: 3vh;
    margin-left: 3%;
    font-family: 'Times New Roman', Times, serif;
}

.titulo {
    height: 4vh; 
    width: 8.5%;
    background-color: #000; 
}

.titulo p {
    color: #fff;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    margin-left: 0.3vw;
}

.space {
    width: 18%;
    margin-left: 82%;
    margin-top: -51%;
    height: 75vh;
    background-color: rgb(244, 244, 9);
}

.main-org-3 {
    width: 100%;
    display: flex;
}

.sec-6 {
    width: 24%;
}

.sec-7 {
    width: 24%;
    margin-left: 3%;
}

.sec-8 {
    width: 24%;
    margin-left: 3%;
    margin-top: 4vh;
}

/*FIM*/

/*FOOTER*/

footer {
    background-color: rgb(244, 244, 9);
    position: relative;
    overflow-y: hidden;
    display: grid 'footer';
    margin-top: 5vh;
    min-height: 350px;
    padding: 3rem 1rem;
    grid-row-end: auto;
    border-top: 3px solid #000;
  }
  
  .container-2 {
    max-width: 1299px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .col {
    min-width: 250px;
    color:#000;
    font-family: poppins;
    padding:0 2rem;
  }
  
  .col .logo {
    width: 100px;
    margin-bottom:25px;
  }
  
  .col h3 {
    font-size: 30px;
    color:#000;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
  }
  
  .col h3::after {
    content: '';
    height:3px;
    width:0px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left:0;
    transition: 0.3s ease;
  
  }
  
  .col h3:hover::after {
    width:30px
  }
  
  .col .social a i {
    color:#000;
    margin-top:2rem;
    margin-right: 5px;
    transition: 0.3s ease;
  }
  
  .col .social a i:hover {
    transform: scale(1.5);
    filter:grayscale(25);
  }
  
  .col .links a {
    display: block;
    text-decoration: none;
    color:#000;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
  }
  
  .col .links a::before {
    content:'';
    height: 16px;
    width:3px;
    position: absolute;
    top:5px;
    left:-10px;
    background-color: #000;
    transition: 0.5s ease;
    opacity: 0;
  }
  
  .col .links a:hover::before {
    opacity: 1;
  }
  
  .col .links a:hover {
    transform: translateX(-8px);
    color:#000;
  }
  
  .col .contact-details {
    display: inline-flex;
    justify-content: space-between;
  }
  
  .col .contact-details i {
    margin-right:15px;
  }
  
  .row .form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2rem 0;
  }
  
  .row .form input {
    background-color: #1a1c20ff;
    border:0;
    outline:none;
    padding:14px 20px;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .col#contact {
    margin-top: -2%;
  }
  
  .form button {
    padding:14px 20px;
    border:0;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #000;
  }
  
  i .fa-paper-plane {
    transition: transform .3s ease;
  }
  
  p#copy {
    margin-top: 3vh;
    font-size: 12px;
  }
  
  p#rea {
    margin-top: -5vh;
  }
  
  .i fa-paper-plane:hover {
    transform: scale(1.1);
  }
  @media (max-width:1299px)
  {
  .row{
    flex-direction: column;
  }
  
  .col{
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
  }
  }
  
  @media (max-width:768px)
  {
  .row {
    flex-direction: column;
  }
  
  .col {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
  }